.App {
  text-align: center;
  
}


/* Default style for the .indicator element */
.indicator {
  position: absolute;
  left: 23px;
  height: 2rem;
  width: 3rem;
  background-color: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}


/* Media query for screens with width 110% or more */
@media (min-width: 700px) {
  .indicator {
    left: 236px;
  }
}


.indicator::before {
  content: "";
  position: absolute;
  left: 11px;
  top: -16px;
  width: 16px;
  height: 16px;
  box-shadow: 5px 4px 0px 0px white;
  background-color: #673ec7;
  border-bottom-right-radius: 1rem;

}

.indicator::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 32px;
  width: 1rem;
  height: 16px;
  background-color: white;
  box-shadow: 4px -5px 0px 0px white;
  background-color: #673ec7;
  border-top-right-radius: 1rem;
}

